<div class="card mb-3">
  <div class="row">
    <div class="col-auto">
      <img class="img-responsive center-block" src="{{avatar}}" style="width: 300px;">
    </div>
    <div class="col-auto p-4">
      <h3>{{name}}</h3>
      <p>{{account}}</p>
      <p>{{email}}</p>
      <ul class="list-unstyled">
        <li><strong>{{followingsCount}}</strong> followings (跟隨中)</li>
        <li><strong>{{followersCount}}</strong> followers (跟隨者)</li>
      </ul>
      {{#ifCond user.id id}}
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
      {{else}}
      {{#if isFollowed }}
      <form action="/followships/{{id}}?_method=DELETE" method="POST" style="display: contents;"> <button type="submit" class="btn btn-danger">取消追蹤</button> </form>
      <form action="/api/followships/{{id}}?_method=DELETE" method="POST" style="display: contents;"> <button type="submit" class="btn btn-danger">取消追蹤api</button> </form>
      {{else}}
      <form action="/followships" method="POST" style="display: contents;">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-primary">追蹤</button>
      </form>
      <form action="/api/followships" method="POST" style="display: contents;">
        <input type="hidden" name="id" value="{{id}}">
        <button type="submit" class="btn btn-primary">追蹤api</button>
      </form>
      {{/if}}
      {{#if isSubscribed }}
      <form action="/subscribe/{{id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit" class="btn btn-danger">取消訂閱</button></form>
      <form action="/api/subscribe/{{id}}?_method=DELETE" method="POST" style="display: contents;"><button type="submit" class="btn btn-danger">取消訂閱api</button></form>
      {{else}}
      <form action="/subscribe/{{id}}" method="POST" style="display: contents;"><button type="submit" class="btn btn-primary">訂閱</button></form>
      <form action="/api/subscribe/{{id}}" method="POST" style="display: contents;"><button type="submit" class="btn btn-primary">訂閱api</button></form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>
</div>